<nav class="navbar navbar-dark bg-primary">
  <ul class="navbar-nav">
    <li class="<%= controller_name == 'home' ? 'nav-item active' : 'nav-item' -%>">
      <%= link_to "Home", root_path, class: "nav-link" %>
    </li>
  </ul>
</nav>
